<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
    <link rel="icon" type="image/png" href="../static/img/favicon-2.jpg">
    <link rel="stylesheet" href="../static/css/page_not_found.css">
</head>
<body>
    <!-- Script -->
    <div>
        <h2>Not Found!</h2>
        <a href="{{ url_for('home') }}">HOME</a>
    </div>
    <script src="../static/js/page_not_found.js"></script>
</body>
</html>